body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

main {
  width: 700px;
  height: 600px;
  background-color: antiquewhite;
  margin: auto;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

header {
  font-size: 20px;
  padding: 20px;
}